.contactTop {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/Tiffany-8.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    font-size: clamp(4rem, 8vw, 7rem);
    color: white;
    box-shadow: inset 0 0 0 2000px rgba(50, 74, 100, 0.3);
    padding: 1rem;
    text-align: center;
}

.contactGetin {
    font-size: clamp(3rem, 8vw, 7rem);
    color: white;
}

.contactInfo {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbf9fc;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--clr-whiteish);
    text-align: center;
}

.contactTitle {
    font-size: clamp(2.5rem, 5vw, 3rem);
}

.contactUnder {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 1rem;
}

.contactThird {
    background-color: #efe7f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contactImgContainer {
    margin-bottom: 5rem;
    margin-top: 2rem;
    max-width: 70rem;
    box-shadow: 3.8rem 2.5rem 0 3px var(--clr-dark);
}

.contactImg {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.myOffice {
    font-size: clamp(2.5rem, 5vw, 3rem);
    margin-bottom: 2rem;
}

.hours {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
}

@media only screen and (max-width: 60rem) {
    .contactImgContainer {
        margin-top: 0;
        margin-bottom: 2rem;
        box-shadow: 1.8rem 1.5rem 0 3px var(--clr-dark);
    }
}