.mainContainer {
    min-height: 100vh;
}

.topSection {
    min-height: 100vh;
    /* max-width: 100vw; */
    background: url('../assets/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-shadow: inset 0 0 0 2000px rgba(100, 78, 64, 0.2); */
    box-shadow: inset 0 0 0 2000px rgba(50, 74, 100, 0.3);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    padding-left: 20rem;
    padding-right: 23rem;
    padding-top: 10rem; */
    display: flex;
    justify-content: center;
}

.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    max-width: 70rem;
    padding: 1rem;
    padding-top: 10rem;
}

.overTitle {
    color: white;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.title {
    color: white;
    font-size: clamp(3rem, 5vw, 3.8rem);
}

.button {
    display: inline-block;
    background-color: #C9CAB4;
    padding: 1.1rem 2.2rem;
    font-size: 0.9rem;
    transition: all 200ms ease;
}

.button:hover {
    background-color: #C4C5AC;
}

.bookButton {
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.secondSection {
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainer {
    max-width: 80rem;
    display: flex;
    gap: 7rem;
    padding: 1rem;
}

.secondImageContainer {
    max-width: 28rem;
    max-height: 28rem;
    border-radius: 50%;
    box-shadow: -3.8rem 2.5rem 0 3px var(--clr-dark);
    overflow: hidden;
}

.secondImage {
    width: 100%;
    height: 100%;
}

.secondTextBox {
    max-width: 29rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secondTitle {
    font-size: 3.2rem;
    margin-top: 1.5rem;
}

.secondUnder {
    font-size: 1.2rem;
    line-height: 2;
    color: dimgray;
}

.thirdSection {
    min-height: 70vh;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdContainer {
    display: flex;
    max-width: 65rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 1rem;
}

.thirdTitle {
    font-size: 3.2rem;
}

.thirdUnder {
    font-size: 1.1rem;
    line-height: 2;
    color: dimgray;
}

.sliderBox {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
}

.fourthSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fourthContainer {
    display: flex;
    max-width: 70rem;
    gap: 6rem;
    padding: 1rem;
}

.fourthTextBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 30rem;
    
}

.fourthTitle {
    font-size: 3.4rem;
    line-height: 1.3;
}

.fourthUnder {
    width: 90%;
    font-size: 1.2rem;
    line-height: 2;
    color: dimgray;
}

.fourthImgContainer {
    max-height: 42rem;
    max-width: 28rem;
    /* max-height: 40rem; */
    box-shadow: 3.8rem 2.5rem 0 3px var(--clr-light);
}

.fourthImg {
    /* background-image: url('../assets//fourth.jpg'); */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* max-height: 40rem; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* box-shadow: 3.8rem 2.5rem 0 3px var(--clr-light); */
}

.fourthButton {
    color: white;
    background-color: var(--clr-superdark);
    padding: 1.2rem 2rem;
    width: max-content;
    margin-left: 4rem;
}

.callToAction {
    min-height: 62vh;
    padding: 1rem;
    background-color: var(--clr-superdark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.callTitle {
    font-size: 3.2rem;
    color: white;
    text-align: center;
}

.callUnder {
    color: white;
    font-size: 1.1rem;
    text-align: center;
}

.callButton {
    background-color: var(--clr-light);
    padding: 1.2rem 2.3rem;
    margin-top: 3rem;
}



@media only screen and (max-width: 65rem) {

    .secondContainer {
            max-width: 80rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 1rem;
        }
    
    .fourthContainer {
            display: flex;
            flex-direction: column-reverse;
            max-width: 70rem;
            gap: 3rem;
            padding: 1rem;
        }
}