.mainContainer {
    min-height: 100vh;
}

.topSection {
    min-height: 100vh;
    /* background: url('../assets/back3.jpg'); */
    background: url('../assets/Tiffany-11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-shadow: inset 0 0 0 2000px rgba(100, 78, 64, 0.2); */
    box-shadow: inset 0 0 0 2000px rgba(50, 74, 100, 0.3);
    display: flex;
    justify-content: center;
}

.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    max-width: 70rem;
    padding: 1rem;
    padding-top: 10rem;
}

.overTitle {
    color: white;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.title {
    color: white;
    font-size: clamp(2.8rem, 5vw, 3.8rem);
}

.button {
    display: inline-block;
    background-color: #C9CAB4;
    padding: 1.1rem 2.2rem;
    font-size: 0.9rem;
    transition: all 200ms ease;
}

.button:hover {
    background-color: #a4a67f;
}

.bookButton {
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.secondSection {
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--clr-yellow); */
}

.secondContainer {
    max-width: 80rem;
    display: flex;
    gap: 7rem;
    padding: 1rem;
}

.secondImageContainer {
    max-width: 28rem;
    max-height: 28rem;
    border-radius: 50%;
    box-shadow: -3.8rem 2.5rem 0 3px var(--clr-dark);
    overflow: hidden;
}

.secondImage {
    width: 100%;
    height: 100%;
}

.secondTextBox {
    max-width: 29rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secondTitle {
    margin-top: 1.5rem;
}

.thirdSection {
    min-height: 70vh;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdContainer {
    display: flex;
    max-width: 65rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 1rem;
    padding-top: 3rem;
}

.thirdTitle {
    font-size: 3.2rem;
}

.sliderBox {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
}

.fourthSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-whiteish);
}

.fourthContainer {
    display: flex;
    max-width: 70rem;
    gap: 6rem;
    padding: 1rem;
}

.fourthTextBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 30rem;
}

.fourthUnder {
    width: 90%;
}

.fourthImgContainer {
    max-height: 42rem;
    max-width: 28rem;
    box-shadow: 3.8rem 2.5rem 0 3px var(--clr-light);
}

.fourthImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fourthButton {
    color: white;
    background-color: var(--clr-superdark);
    padding: 1.2rem 2rem;
    width: max-content;
    margin-left: 4rem;
    transition: all 200ms ease;
}

.fourthButton:hover {
    background-color: var(--clr-dark);
    color: var(--clr-superdark);
}

.callToAction {
    min-height: 62vh;
    padding: 1rem;
    background-color: var(--clr-superdark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.callTitle {
    text-align: center;
    color: white;
}

.callUnder {
    color: white;
    text-align: center;
}

.callButton {
    background-color: var(--clr-light);
    padding: 1.2rem 2.3rem;
    margin-top: 3rem;
    transition: all 200ms ease;
}

.callButton:hover {
    background-color: var(--clr-whiteish);
}



@media only screen and (max-width: 65rem) {

    .mainContainer {
        text-align: center;
    }

    .topSection {
        padding-bottom: 5rem;
    }

    .secondContainer {
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 4rem 1rem;
    }

    .thirdContainer {
        padding: 4rem 1rem;
    }

    .fourthContainer {
        display: flex;
        flex-direction: column-reverse;
        max-width: 70rem;
        gap: 5rem;
        padding: 4rem 1rem ;
    }

    .fourthTextBox {
        align-items: center;
    }

    .fourthUnder {
        width: 100%;
    }

    .fourthButton {
        margin-left: 0;
    }
}