@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --clr-dark: #b692ca;
  --clr-light: #d8c5e3;
  --clr-whiteish: #fbf9fc;
  --clr-superdark: #6d4184;
  --clr-grey: #BEC4CE;
  --clr-yellow: #FEFFD0;
}

body,
html {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-whiteish);
}

* {
  box-sizing: border-box;
}

h2, p {
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
}

h2 {
  font-size: clamp(2.5rem, 5vw, 3.2rem);
  line-height: 1.3;
}

p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 2;
  color: dimgray;
}

a {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}