:root {
  --clr-dark: #b692ca;
  --clr-light: #d8c5e3;
  --clr-whiteish: #fbf9fc;
  --clr-superdark: #6d4184;
}

body,
html {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  font-family: serif;
  background-color: var(--clr-whiteish);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}